$black: #252021;
$light: #D8DBE2;
$pale: #B7CEE8;
$navy: #577399;
$dark: #495867;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');

$font: 'Raleway', sans-serif;
$mono: 'PT Mono', monospace;
$ease: all .3s ease;

.menu-area {
    width: 25%;
    height: 100%;
    background-color: $light;
    box-shadow: 2px 2px 15px rgba($dark, .3);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-family: $mono;
    justify-content: center;
    align-items: center;

    .btn-timer, .btn-todo { 
       border: transparent;
    color: $dark;
    margin: 0;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background: $white;
      color: $navy;
      transition: $ease;
    }
    &.active {
        background: $pale;
        color: $white;
        width:100%;
        box-shadow: 1px 1px 3px rgba($dark, .3);
        transition: $ease;
        &:hover {
          background: $white;
          color: $dark;
          transition: $ease;
        }
      }
    }
}

