@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');

.timer-area {
    font-family: 'Raleway', sans-serif;
    height: 25rem;
    text-align: center;

    .total-time {
        font-size: 2.2rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        color: #577399;
        text-align: center;
        padding: 3rem 0 2rem;
    }

    .time-zone {
        margin-bottom: 2rem;
        text-align: center;
        .study-time, .break-time {
            color: #577399;
            font-size: 1.4rem;
        }
        .increase, .decrease {
            font-size: 1.2rem;
            width: 1.4rem;
            height: 1.4rem;
            text-align: center;
            border-radius: 50%;
            border: none;
			background:none;
			color: #577399;
			text-transform:uppercase;
			cursor:pointer;
			transition: all .3s ease;
			&:hover {
				background: #577399;
				transition: all .3s ease;
				color: #FFFFFF;
			}
        }
    }

    .comment {
        text-align: center;
        color: #577399;
        font-size: 1.8rem;
    }

    .btn-running {
        display: block;
        padding: 0;
        font-size: large;
        height: 2rem;
        border-radius: 20%;
        margin: 2rem auto 3rem;
        border: none;
        background:none;
        color: #577399;
        text-transform:uppercase;
        cursor:pointer;
        transition: all .3s ease;
        &:hover {
            background: #577399;
            transition: all .3s ease;
            color: #FFFFFF;
        }
    }
}