@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|PT+Mono&display=swap');

.todo {
    margin:0 auto;
	padding:1rem 2rem 2rem;
	color:#577399;
	overflow-y: auto;
	font-family: 'Raleway', sans-serif;
	.title {
		font-weight:normal;
		font-size:2.2rem;
		letter-spacing:0.05em;
	}
	.sub-comment {
		display:block;
		font-size:0.8rem;
		margin-bottom:1rem;
		border-bottom:1px solid rgba(255,255,255,.3); 
	}

	.form {
		display:flex;
		align-items:center;
		justify-content: space-between;
		margin-bottom: 1rem;

		.todo-input {
			border:none;
			color: #577399;
			border-bottom: 1px solid #577399;
			font-size: 1rem;
			font-weight: lighter;
			width: 20rem;
			height: 2.2rem;
			&:focus {
				outline:none;
			}
		}
		.btn-add {
			padding:0 1rem;
			height: 2.2rem;
			border:none;
			background:none;
			color: #577399;
			text-transform:uppercase;
			font-weight:bold;
			border:1px solid #B7CEE8;
			cursor:pointer;
			transition: all .3s ease;
			&:hover {
				background: #B7CEE8;
				transition: all .3s ease;
				color: #FFFFFF;
			}
		}
		.input, .btn-add {
			font-family: 'Raleway', sans-serif;
		}
	}

	.item {
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: center;
		.item-label {
			cursor: pointer;
			display: flex;
			align-items: center;
			input[type="checkbox"] {
				cursor: pointer;
				appearance: none;
				background-color: #B7CEE8;
				border-radius: 50%;
				width: 1rem;
				height: 1rem;
				position: relative;
				vertical-align: middle;
				transition: background 0.25s;
				transition: background 0.25s;
				&:before, &:after {
					content: "";
					color: #FFFFFF;
				}
			}
			input[type="checkbox"]:checked {
				background-color: #577399;
				&:before {
				content: "\2713";
				color: #FFFFFF;
				width: 1rem;
				height: 1rem;
				transition: all .3s ease;
				position: absolute;
				left: 0.2rem;
				}
			}
		}
		.label {
			margin-left: 0.6rem;
		}
		.btn-delete {
			border:none;
			background:none;
			color:#577399;
			text-transform:uppercase;
			font-weight:bold;
			font-family: 'Raleway', sans-serif;
			margin-left: 0.8rem;
			border:1px solid #B7CEE8;
			cursor:pointer;
			transition: all .3s ease;
			&:hover {
				background: #B7CEE8;
				transition: all .3s ease;
				color: #FFFFFF;
			}
		}

	}
}